{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

<h1>program number {{ id }}.</h1>
<a href="{{ path('program_show', {id: 5}) }}">Afficher la page 5</a>

{% endblock %}