@import "~bootstrap/scss/bootstrap";

:root {
    --primary-color: #000000;
    --secondary-color: #47CCD5;
    
  }

  body {
    background-color: rgba(187, 115, 48, 0.488);
}

.navbar {
    background-color: #47CCD5;
} 

